<% provide(:title, @feed.feed_url) %>
<div class="row">
  <aside class="span4">
  <section>
  <h3>
      Rss Feed Titles:
  </h3>
  <ol>
    <% @rss_feed.items.each do |feed| %>
          <li>
                <%= link_to feed.title, '#'%>

                <br />

                <%= feed.description.html_safe %>

            </li>
    <% end %>
  </ol>
  <br />
  <br />
  <%= link_to "All Feeds", feeds_path %>&nbsp;&nbsp;
  <%= link_to "Home", root_path %>
  </section>
  </aside>
</div>
