<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
  <div class="container">
    <%= link_to "Rss Parser", root_path, id: "logo" %>
    <nav>
    <ul class="nav nav-tabs navbar-right">
      <li><%= link_to "Add Feed", new_feed_path %></li>
      <li><%= link_to "All Feeds", feeds_path %></li>
      <li><%= link_to "What?", "http://www.problogger.net/what-is-rss/" %></li>
            </nav>
  </div>
</div>
</header>
